<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <form th:object="${semestre}" method="post" th:action="@{${ruta}}">


        <input type="hidden" th:field="*{id_semestre}">


        <label for="Periodo">Periodo</label> <br>
        <input type="text" th:field="*{Periodo}" required>
        <br>

        <label for="Duracion">Duracion</label> <br>
        <input type="text" th:field="*{Duracion}" required>

        <br>
        <label for="Fecha_Inicio">Fecha_Inicio</label> <br>
        <input type="text" th:field="*{Fecha_Inicio}" required>
        <br>

        <label for="Fecha_Salida">Fecha_Salida</label> <br>
        <input type="text" th:field="*{Fecha_Salida}" required>
        <br>

        <label for="Profesores_Asignados">Profesores_Asignados</label> <br>
        <input type="text" th:field="*{Profesores_Asignados}" required>
        <br>

        <label for="Cursos_Ofrecidos">Cursos_Ofrecidos</label> <br>
        <input type="text" th:field="*{Cursos_Ofrecidos}" required>
        <br>
        <!-- button aqui -->
        <input type="submit" name="Envier" th:value="${tipoFormulario}">


    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>