<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h2>Registrar Facultad</h2>
    
    <form th:action="@{/registrar-facultad}" method="post" th:object="${facultad}">
        <div>
            <label for="nombre">Nombre de la Facultad:</label>
            <input type="text" id="nombre_facul" name="nombre" th:field="*{nombre_facultad}" required>
        </div>
        <div>
            <label for="nombre">Nombre de la Facultad:</label>
            <input type="text" id="sig" name="sigla" th:field="*{sigla}" required>
        </div>
        
         Otros campos para la facultad 

        <div>
            <button type="submit">Registrar Facultad</button>
        </div>
    </form>
    
     Enlace para volver a la lista de facultades 
    <a th:href="@{/list-facultades}">Ver lista de facultades registradas</a> -->
    <form th:object="${facultad}" method="post" th:action="@{/registrar-facultad}">

        <!-- Campo oculto para el id de la facultad -->
        <input type="hidden" th:field="*{idFacultad}">
    
        <!-- Campo para el nombre de la facultad -->
        <label for="nombreFacultad">Nombre de la Facultad:</label><br>
        <input type="text" id="nombreFacultad" name="nombreFacultad" th:field="*{nombre_facultad}" required><br>
    
        <!-- Campo para la sigla de la facultad -->
        <label for="sigla">Sigla:</label><br>
        <input type="text" id="sigla" name="sigla" th:field="*{sigla}" required><br>
    
        <!-- Botón para enviar el formulario -->
        <input type="submit" name="enviar" th:value="${tipoFormulario}">
    
    </form>
    
     
</body>
</html>