<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>  
  <div class="container">

  <div class="row"> 
    
    <div class="col-md-2 text-center"><br><br>
      <form th:object="${carrera}" method="post" th:action="@{${ruta}}">
          
    
          <input type="hidden" th:field="*{id_carrera}">
  
    
          <label for="Nombre">Nombre de la carrera</label> <br>
          <input type="text" th:field="*{Nombre}" required>
          <br>
    
          <label for="Especializacion">Especializacion</label> <br>
          <input type="text" th:field="*{Especializacion}" required>
       
          <br>
    
          <label for="Vision">Vision </label> <br>
          <input type="text" th:field="*{Vision}" required>
          <br>
    
          <label for="Vision">Mision </label> <br>
          <input type="text" th:field="*{Mision}" required>
          <br>
  
          <label for="Vision">PerfilProfecional </label> <br>
          <input type="text" th:field="*{PerfilProfecional}" required>
          <br>
  
  
          <label for="Vision">PoliticaExamen </label> <br>
          <input type="text" th:field="*{PoliticaExamen}" required>
          <br>
  
  
          <label for="Vision">Direccion </label> <br>
          <input type="text" th:field="*{Direccion}" required>
          <br>
  
          <label for="Vision">FechaCreacion </label> <br>
          <input type="text" th:field="*{FechaCreacion}" required>
          <br><br>
    
          <input type="submit" name="Envier" th:value="${tipoFormulario}">
    
        </form></div>

        <div class="col-md-2 text-center"></div>
        <!-- //---------------------------------------- -->

    <div class="col-md-8 text-center">
    <table class="table" style="width: 100%">

        <br>
        
        <thead>
 
        <tr> 

            <th scope="col">Nombre</th>
            <th scope="col">Especialización</th>
            <th scope="col">Vision</th>
            <th scope="col">Mision</th>
            <th scope="col">PerfilProfecional</th>
            <th scope="col">Sistema S/A</th>
            <th scope="col">Dirección</th>
            <th scope="col">Fecha de Fundación</th>
            <th scope="col">Operaciones</th>

          </tr>
  
        </thead>
  
        <tbody>
  <br>

          <tr  th:each="carrera : ${listaCarreras}" th:if="${carrera.Estado=='A'}"> 

            <td th:text="${carrera.nombre}"></td>
            <td th:text="${carrera.Especializacion}"></td>
            <td th:text="${carrera.Vision}"></td>
            <td th:text="${carrera.Mision}"></td>
            <td th:text="${carrera.PerfilProfecional}"></td>
            <td th:text="${carrera.PoliticaExamen}"></td>
            <td th:text="${carrera.Direccion}"></td>
            <td th:text="${carrera.FechaCreacion}"></td>

            <td>

              <a th:href="@{/carrera/modificar/{id}(id=${carrera.id_carrera})}">Modificar</a>
              <a th:href="@{/carrera/eliminar/{id}(id=${carrera.id_carrera})}">Eliminar</a>
            </td>
  
  
          </tr>
  
        </tbody>
  
      </table>
    </div>

      <div class="col-md-2 text-center"></div>

      </div>

    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
    
</body>
</html>